@use './reset';
:root {
	color-scheme: light dark;

	/* Tema claro por defecto */
	--primary-color: #e3f2fd;
	--secondary-color: #1976d2;
	--background: #d5e2e8;
	--background-transparent: rgba(255, 255, 255, 0.6);
	--text-gry: #424242;
	--accent-color: #ff5252;
	--star-color: #eeff00;
	--error-color: #f44336;
	--warning-color: #eeff00;
	--gry-color: #d3d3d3;

	/* Estructura */
	--border-radius: 0.3125em;
	--clip-path-top: polygon(0 0, 100% 0, 100% 96%, 0 98%);
	--clip-path-top-and-bottom: polygon(0 5%, 100% 10%, 100% 96%, 0 98%);
}

/* Tema oscuro basado en preferencias del sistema */
@media (prefers-color-scheme: dark) {
	:root {
		--primary-color: #1f3a47;
		--secondary-color: #2ca7e3;
		--background: #030b14;
		--background-transparent: rgba(74, 74, 74, 0.6);
		--text-gry: #abb0ba;
		--star-color: #d3e200;
		--warning-color: #d3e200;
		--gry-color: #424242;
	}
}

/* Override manual para tema oscuro */
html[data-theme='dark'] {
	color-scheme: dark;
	--primary-color: #1f3a47;
	--secondary-color: #2ca7e3;
	--background: #030b14;
	--background-transparent: rgba(74, 74, 74, 0.6);
	--text-gry: #abb0ba;
	--star-color: #d3e200;
	--warning-color: #d3e200;
	--gry-color: #424242;
}

/* Override manual para tema claro */
html[data-theme='light'] {
	color-scheme: light;
	--primary-color: #e3f2fd;
	--secondary-color: #1976d2;
	--background: #d5e2e8;
	--background-transparent: rgba(255, 255, 255, 0.6);
	--text-gry: #424242;
	--star-color: #eeff00;
	--warning-color: #eeff00;
	--gry-color: #d3d3d3;
}

#root {
	width: 100%;
	min-height: 100dvh;
}

body {
	background-color: var(--background);
}

// :root {
//   /* Light Theme (default) */
//   --primary-light: #797979;
//   --primary-container-light: #5C5C5C;
//   --secondary-light: #223641;
//   --secondary-container-light: #1A2A33;
//   --tertiary-light: #EF3D21;
//   --tertiary-container-light: #C7321A;
//   --appbar-light: #223641;
//   --error-light: #B00020;
//   --error-container-light: #FFDAD4;

//   /* Dark Theme */
//   --primary-dark: #4A6572;
//   --primary-container-dark: #344955;
//   --secondary-dark: #A0A0A0;
//   --secondary-container-dark: #7A7A7A;
//   --tertiary-dark: #FF6E40;
//   --tertiary-container-dark: #CC5833;
//   --appbar-dark: #4A6572;
//   --error-dark: #CF6679;
//   --error-container-dark: #8C1D1D;
// }
