@use './reset';

:root {
	--primary-color: #e3f2fd;
	--secondary-color: #1976d2;
	--background: #d5e2e8;
	--background-transparent: rgba(255, 255, 255, 0.6);
	--text-gry: #424242;
	--accent-color: #ff5252;

	// structure
	--border-radius: 0.3125em;
	--clip-path-top: polygon(0 0, 100% 0, 100% 96%, 0 98%);
	--clip-path-top-and-bottom: polygon(0 5%, 100% 10%, 100% 96%, 0 98%);
}

html[data-theme='dark'] {
	--primary-color: #1f3a47;
	--secondary-color: #2ca7e3;
	--background: #030b14;
	--background-transparent: rgba(74, 74, 74, 0.6);
	--text-gry: #abb0ba;
	--accent-color: #f44336;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary-color: #1f3a47;
		--secondary-color: #2ca7e3;
		--background: #030b14;
		--background-transparent: rgba(74, 74, 74, 0.6);
		--text-gry: #abb0ba;
		--accent-color: #f44336;
	}

	html[data-theme='light'] {
		--primary-color: #e3f2fd;
		--secondary-color: #1976d2;
		--background: #d5e2e8;
		--background-transparent: rgba(255, 255, 255, 0.6);
		--text-gry: #424242;
		--accent-color: #ff5252;
	}
}

#root {
	width: 100%;
	min-height: 100dvh;
}

body {
	background-color: var(--background);
}
