@use '@styles/mixin' as *;

.catalog {
	width: 100%;
	font-size: 1rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	gap: 1em;

	&__title {
		margin: 0;
		font-size: 1.8rem;
	}

	&__description {
		margin: 0;
		font-size: 1.2rem;
	}

	&__links {
		display: flex;
		gap: 1em;
	}

	&__link {
		padding: 0.3125em 0.625em;
		@include defaultStyles();

		&--active {
			@include defaultStyles(var(--primary-color), var(--secondary-color));
		}
	}
}
